@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/variables";
@import "styles/header";
@import "styles/button";

:root {
  --foreground-rgb: 24, 8, 39;
  --background-start-rgb: 24, 8, 39;
  --background-end-rgb: 24, 8, 39;
}

@font-face {
  font-family: 'aAtmospheric';
  src: url('/fonts/aAtmospheric.ttf');
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/ChakraPetch-Regular.ttf');
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy-Regular.ttf');
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}