@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/variables";
@import "styles/header";
@import "styles/button";
@import "styles/subscription";

:root {
  --foreground-rgb: 24, 8, 39;
  --background-start-rgb: 24, 8, 39;
  --background-end-rgb: 24, 8, 39;
}

@font-face {
  font-family: 'aAtmospheric';
  src: url('/fonts/aAtmospheric.ttf');
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/ChakraPetch-Regular.ttf');
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy-Regular.ttf');
}

body {
  color: white;
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

.icon-wrapper {
  cursor: pointer;
  background: (linear-gradient(91deg, rgba(142, 111, 231, .15) 0%, rgba(146, 61, 231, .15) 100%));
  padding: 8px 16px;
  clip-path: polygon(16px 0, 100% 0, 100% 50%, 100% 99%, 0 100%, 0 16px);

  :hover {

  }
}

.collapsible {
  cursor: pointer;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.20) 16.72%, rgba(255, 255, 255, 0.04) 40.12%);
  backdrop-filter: blur(8px);
  padding: 16px;
  clip-path: polygon(0 0, calc(100% - 16px) 0%, 100% 16px, 100% 100%, 0 100%, 0% 50%);
}