.main-header {
  width: 100%;
  height: $header-height;
  padding: 40px;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(8px);

    .sticky + .content {
      padding-top: $header-height;
    }
  }

  .icon-wrapper {
    cursor: pointer;
    background: (linear-gradient(91deg, rgba(142, 111, 231, .15) 0%, rgba(146, 61, 231, .15) 100%));
    padding: 8px 16px;
    clip-path: polygon(16px 0, 100% 0, 100% 50%, 100% 99%, 0 100%, 0 16px);

    :hover {

    }
  }
}