$header-height: 125px;

$color-primary: #8E6FE7;

$meme-olet: #8E6FE7;
$pearl-white: #F9F9F1;
$deep-purple: #180827;
$highlight: #923DE7;

$gradient-background: linear-gradient(#371D50, #180827);
$gradient-button: linear-gradient(#8E6FE7, #923DE7);